@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
:root {
    --sombra: rgba(0, 0, 0, 0.300);
    --bordasGeral: 10px;
}
html, body {
    background-color: #1e1e1e;
}